/* General Styling*/

* {
    padding: 0;
    margin: 0;
}

* {
    color: rgb(4, 47, 56);
}

h1, h2, h3, h5 {
    font-weight: 300;
}

h4 {
    font-weight: 400;
}

* {
    font-weight: 400;
}

body {
    width: 100%;
    background-image: url(../images/backgroun5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.my-center {
    justify-content: center;
}

.my-p-2 {
    padding: 10px;
}

.my-p-4 {
    padding: 20px;
}

.my-p-b-2 {
    padding-bottom: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.w-80 {
    width: 80%;
}

/* Nav bar styling */

.navbar {
    background-color: rgb(4, 47, 56);
    line-height: 50px;
    font-size: 120%;
    display: flex;

}

.navbar-brand {
    padding-left: 5%;
    font-size: 150%;
    padding-right: 5px;
}

.nav-item {
    line-height: 30px;
    margin-left: 30px;
}

.nav-link {
    border: 2px, solid, transparent;
    background-color: rgb(4, 47, 56);
}

.nav-link:hover {
    transition: 1s;
    border-radius: 10px;
    border: 2px, solid, white;
}

.contact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px, solid, transparent;
    background-color: rgb(4, 47, 56);
    line-height: 5px;
    padding: 10px;
    position: absolute;
    right: 5%;
}

.contact-container:hover {
    transition: 1s;
    border-radius: 10px;
    border: 2px, solid, white;
}

.contact {
    display: block;
    color: aliceblue;
    text-decoration: none;
    padding-left: 10px;
}

.mail-container>i {
    font-size: 150%;
    color: aliceblue;
}

/* Main Body and Containers Styling*/

.title-container {
    margin-top: 10px;
    padding: 20px;
    width: 400px;
}

.my-border-bottom {
    border-bottom: 1px solid rgb(4, 47, 56);
}

.sub-title-box {
    text-align: center;
    padding-top: 2%;
    width: 20%;
    margin-top: 20px;
}

.career-title {
    margin-top: 5px;

}

.boxes-background {
    background-color: rgb(235, 252, 254);
    border-radius: 10px;
    border: 1px, solid, black;
}

.box-shadow {
    box-shadow: 5px 5px 3px #888888;
}

.inner-border {
    border: 2px solid darkgreen;
    border-radius: 10px;
}

.inner-box {
    background-color: rgb(255, 255, 255, 0.9);
    padding: 10px;
}

.image-col {
    display: contents;
}

.image { 
    width: 100%;
    height: auto;
    border-radius: 50%;
    max-width: 300px;
}

/* Skills Table Styling */

.skills-outer {
    justify-content: center;
}

.border-right {
    border-right: 1px solid rgb(4, 47, 56);
}

.skills-icon-container {
    width: 90%;
    display: flex;
}

.skills-col {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-list {
    list-style: none;
    padding-left: 0;
}

.skill-list>li>i {
    padding: 10px;
    font-size: 200%;
}

.fa-brands {
    vertical-align: middle;
}

.fa-solid {
    font-size: 200%;
    vertical-align: middle;
}

.skill-sub-title>h6 {
    margin-left: 5px;
}

li>img {
    max-width: 50px;
    padding: 10px;
    color: rgb(4, 47, 56);
}

.skills-inner-box {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.skill-sub-title {
    display: flex;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid rgb(4, 47, 56);
}

/* Timeline Styling */

.timeline-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.timeline-container {
    width: 95%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.timeline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.timeline li {
    list-style: none;
}
  
.timeline-button{
    list-style: none;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.timeline-button:hover {
    transition: 1s;
    background-color: rgb(173, 216, 224);
}

.tl-item {
    border: 1px, solid, black;
    padding: 1%;
    height: 130px;
}

.tl-item>h6 {
    text-decoration: underline;
}

.tl-item>p {
    padding: 10px;
}

.tl-spacer {
    width: 5%;
    border-bottom: 1px solid black;
    margin-bottom: 5%;
}

.job-detail {
    width: 90%;
    flex-direction: column;
    padding: 5%;
}

#job-details-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#fourth-job-detail {
    display: none;
}

#third-job-detail {
    display: none;
}

#second-job-detail {
    display: none;
}

#first-job-detail {
    display: none;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 300%;
}

/* Below code taken from stackoverflow, not original */

.border-box {
    --b: 12px;   /* thickness of the border */
    --c: red;   /* color of the border */
    --w: 50px;  /* width of border */
    --r: 25px;  /* radius */
    
  
    padding: var(--b); /* space for the border */
    
    position:relative;
    /*Irrelevant code*/  
    box-sizing:border-box;
  }

  .border-box::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--c,rgb(0, 255, 225));
    padding: var(--b);
    border-radius: var(--r);
    -webkit-mask:
      linear-gradient(  0deg,#000 calc(2*var(--b)),#0000 0) 50% var(--b)/calc(100% - 2*var(--w)) 100% repeat-y,
      linear-gradient(-90deg,#000 calc(2*var(--b)),#0000 0) var(--b) 50%/100% calc(100% - 2*var(--w)) repeat-x,
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
    -webkit-mask-composite: destination-out;
            mask-composite: exclude;
  }

  /* Styling for Project Page */

  .projects-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-top: 20px;
}

.project {
    background-color: rgb(255, 255, 255, 0.95);
    border: 2px solid rgb(4, 47, 56);
    border-radius: 10px;
}

.projects-title-container {
    margin-top: 20px;
    width: 60%;
}

#projects-title {
    padding: 20px;
}

.single-project-container {
    padding-bottom: 20px;
}

.single-project-title {
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: center;
}

.single-project-text {
    display: flex;
    height: 80px;
    flex-direction: column;
    justify-content: center;
}

.project-buttons {
    width: 80%;
}

/* Styling for Contact Page */

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    
}

/* Styling for screen sizes smaller than 1000px, just needed for picture */

@media screen and (max-width: 1200px) {

    .image {
        max-width: 240px;
    }

    .intro-text-container {
        width: 65%;
    }

}

@media screen and (max-width: 900px) {

    .image {
        max-width: 220px;
    }
    
}


/* Styling for screen sizes smaller than 800px */

@media screen and (max-width: 800px) {

    .my-p-2 {
        padding: 5px;
    }

    .navbar {
        font-size: 100%;
    }

    .contact-container {
        position: relative;
        line-height: normal;
        right: 0;
        padding: 0px;
    }

    .contact {
        padding: 0px;
    }

    .contact:hover {
        text-decoration: underline;
    }

    .nav-link:hover {
        border: 2px, solid, transparent;
        transition: 3s;
        text-decoration: underline;
    }
    
    .contact-container:hover {
        transition: 3s;
        border: 2px, solid, transparent;
    }

    .mail-container {
        display: none;
    }
    
    .image-col {
        display: flex;
    }

    .title-container {
        width: 300px;
    }

    .w-80 {
        width: 95%;
    }

    .career-title {
        margin-top: 5px;
    }

    .timeline-container {
        height: 200px;
    }

    .tl-item>p {
        padding: 5px;
    }

    .projects-title-container {
        font-size: medium;
        width: 80%;
        margin-top: 10px;
    }

    #projects-title {
        padding: 15px;
    }

    .project {
        font-size: small;
    }

    #projects-title>h4 {
        font-size: large;
    }

    .single-project-title {
        height: 60px;
    }

    .single-project-title>h4 {
        font-size: large;
    }

    .skill-list>li>i {
        font-size: 150%;
    }
    
    .fa-solid {
        font-size: 150%;
    }
    
    li>img {
        max-width: 40px;
    }

    .skill-sub-title>img {
        max-width: 40px;
    }

}

/* Styling for screen sizes smaller than 600px */

@media screen and (max-width: 600px) {

    .my-p-2 {
        padding: 0px;
    }

    h1 {
        font-size: large;
    }

    h4 {
        font-size: medium;
    }

    .intro-text-container {
        width: 60%;
    }

    .title-container {
        width: 200px;
    }

    .about-me-row {
        font-size: small;
    }
    
    .mt-20 {
        margin-top: 10px;
    }

    .career-title {
        margin-top: 0px;
    }

    .timeline-outer {
        width: 97%;
    }

    .timeline-container {
        font-size: small;
        width: 100%;
    }

    .tl-item {
        height: 120px;
    }

    .tl-item>p{
        padding: 3px;
    }

    .table {
        font-size: small;
    }

    .projects-container {
        flex-direction: column;
        padding-top: 10px;
        align-items: center;
    }

    .project {
        width: 90%;
    }

    .single-project-title {
        height: 40px;
    }

    .single-project-text {
        height: 40px;
    }

    .project-buttons {
        font-size: small;
    }

    .my-p-b-2 {
        padding-bottom: 10px;
    }

    .skill-sub-title {
        flex-direction: column;
        text-align: center;
    }

    .skill-list>li>i {
        padding: 5px;
    }

    li>img {
        padding: 5px;
        max-width: 35px;
    }

    .skills-col {
        font-size: smaller;
        text-align: center;
    }

    .skill-sub-title>img {
        max-width: 30px;
    }

    .skill-sub-title>h6 {
        font-size: small;
    }

}

/* Styling for screen sizes smaller than 400px */

@media screen and (max-width: 400px) {

    .mp-top-row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-col {
        display: contents;
    }
    .image {
        max-width: 190px;
    }

    .intro-text-container {
        width: 90%;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .timeline-container {
        height: auto;
    }

    .timeline {
        flex-direction: column-reverse;
        margin-top: 10px;
        align-items: center;
        justify-content: center;
    }

    .tl-item {
        height: 100px;
        width: 180px;
    }

    .tl-item-container {
        width: auto;
    }

    .table {
        font-size: 60%;
    }

    .skills-container {
        overflow-x:auto;
    }

    .single-project-text {
        height: auto;
    }

    .job-detail {
        font-size: smaller;
        max-width: 90%;
        max-height: 95%;
        position: fixed;
        top: 5%;
        left: 5%;
        overflow-y: auto;
    }

    .job-detail>h4 {
        font-size: medium;
    }

    .skills-inner-box {
        flex-direction: column;
    }

    .border-right {
        border-right: none;
    }

    .skill-sub-title {
        height: 50px;
        margin-top: 20px;
    }

    .skills-col {
        border-bottom: 1px solid rgb(4, 47, 56);
    }

}