/* General Styling*/

* {
    padding: 0;
    margin: 0;
}

* {
    color: rgb(4, 47, 56);
}

body {
    width: 100%;
    background-image: url(/assets/images/backgroun5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.my-center {
    justify-content: center;
}

/* Nav bar styling */

.navbar {
    height: 60px;
}

.navbar-brand {
    padding: 5%;
}

.nav-item {
    margin-left: 30px;
    border: 1px, solid, transparent;
}

.nav-item:hover {
    transition: 1s;
    border-radius: 10px;
    border: 2px, solid, white;
}

.title-container {
    margin-top: 10px;
    padding: 20px;
    width: 400px;
}

.job-title {
    border-bottom: 1px solid black;
}

.sub-title-box {
    text-align: center;
    padding-top: 2%;
    width: 20%;
    margin-top: 20px;
}

.boxes-background {
    background-color: rgb(235, 252, 254);
    border-radius: 10px;
    border: 1px, solid, black;
}

.box-shadow {
    box-shadow: 5px 5px 3px #888888;
}

.inner-border {
    border: 2px solid darkgreen;
    border-radius: 10px;
}

.image { 
    width: 100%;
    height: auto;
    border-radius: 50%;
    max-width: 350px;
}

.projects-container {
    display: flex;
    flex-direction: row;
}

.language-container {
    text-align: center;
}

.w-80 {
    width: 80%;
}

/* Timeline Styling */

.timeline-container {
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.timeline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
  
.timeline li{
    list-style: none;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.tl-item {
    border: 1px, solid, black;
    padding: 1%;
}

.tl-item>h6 {
    text-decoration: underline;
}

.tl-spacer {
    width: 5%;
    border-bottom: 1px solid black;
    margin-bottom: 5%;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 300%;
}

/* Below code taken from stackoverflow, not original */

.border-box {
    --b: 5px;   /* thickness of the border */
    --c: red;   /* color of the border */
    --w: 20px;  /* width of border */
    --r: 25px;  /* radius */
    
  
    padding: var(--b); /* space for the border */
    
    position:relative;
    /*Irrelevant code*/  
    box-sizing:border-box;
  }

  .border-box::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--c,rgb(0, 255, 225));
    padding: var(--b);
    border-radius: var(--r);
    -webkit-mask:
      linear-gradient(  0deg,#000 calc(2*var(--b)),#0000 0) 50% var(--b)/calc(100% - 2*var(--w)) 100% repeat-y,
      linear-gradient(-90deg,#000 calc(2*var(--b)),#0000 0) var(--b) 50%/100% calc(100% - 2*var(--w)) repeat-x,
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
    -webkit-mask-composite: destination-out;
            mask-composite: exclude;
  }
